h1{text-align: center; font-size: 100pt; color:white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black}
h2{text-align: left; font-size: 50pt; color:white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black}
body{background-color:orangered; margin:10 px}
label{color:white}
form{text-align: right}
li{text-align: left; font-size: 14pt; background-color:white}
.card{
    background-color: white;
    list-style: none;
    padding: 40px;
    text-align: center;
}
.card-title{
    font-size: 50px;
}
.card-subtitle{
    font-size: 35px;
}
#pokedex{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px,1fr));
    grid-gap: 30px;
}
#search{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(320px,1fr));
    grid-gap: 30px;
}