h1{text-align: center;font-size: 100pt;color:white}
h2{text-align: left;font-size: 40pt;color:white}
body{background-color:orangered}
label{color:white}
form{text-align: right}
li{text-align: left;font-size: 14pt;color:white}